In [1]:
import pandas as pd

In [4]:
combine = pd.read_excel('/Users/caleboneel/Downloads/combinestatistics.xlsx')

In [5]:
combine

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,Johnathan Abram,S,Mississippi State,College Stats,71.0,205,4.45,NaN,NaN,116,NaN,NaN,Oakland Raiders / 1st / 27th pick / 2019
1,Paul Adams,OT,Missouri,College Stats,78.0,317,5.18,27,16,103,7.68,4.74,NaN
2,Nasir Adderley,S,Delaware,NaN,72.0,206,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Azeez Al-Shaair,LB,Florida Atlantic,College Stats,73.0,234,NaN,NaN,16,NaN,NaN,NaN,NaN
4,Otaro Alaka,LB,Texas A&M,College Stats,75.0,239,4.82,36,20,131,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3356,Jason Worilds,OLB,Virginia Tech,College Stats,73.0,254,4.65,38,24,114,6.95,4.29,Pittsburgh Steelers / 2nd / 52nd pick / 2010
3357,Doug Worthington,DT,Ohio State,College Stats,77.0,292,5.02,NaN,19,NaN,NaN,NaN,Pittsburgh Steelers / 7th / 242nd pick / 2010
3358,Major Wright,S,Florida,College Stats,71.0,206,4.44,37.5,14,119,6.95,4.36,Chicago Bears / 3rd / 75th pick / 2010
3359,Sam Young,OT,Notre Dame,NaN,80.0,316,5.2,29.5,29,104,7.73,4.87,Dallas Cowboys / 6th / 179th pick / 2010
3360,Willie Young,DE,North Carolina State,College Stats,77.0,251,4.88,38,25,118,7.24,4.56,Detroit Lions / 7th / 213th pick / 2010

In [9]:
comb = combine[['Player', 'Pos', 'Ht', 'Wt', '40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']]

In [10]:
comb['Player'] = comb["Player"].str.lower()
comb

<ipython-input-10-018685640a74>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comb['Player'] = comb["Player"].str.lower()

,Player,Pos,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,johnathan abram,S,71.0,205,4.45,NaN,NaN,116,NaN,NaN
1,paul adams,OT,78.0,317,5.18,27,16,103,7.68,4.74
2,nasir adderley,S,72.0,206,NaN,NaN,NaN,NaN,NaN,NaN
3,azeez al-shaair,LB,73.0,234,NaN,NaN,16,NaN,NaN,NaN
4,otaro alaka,LB,75.0,239,4.82,36,20,131,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3356,jason worilds,OLB,73.0,254,4.65,38,24,114,6.95,4.29
3357,doug worthington,DT,77.0,292,5.02,NaN,19,NaN,NaN,NaN
3358,major wright,S,71.0,206,4.44,37.5,14,119,6.95,4.36
3359,sam young,OT,80.0,316,5.2,29.5,29,104,7.73,4.87
3360,willie young,DE,77.0,251,4.88,38,25,118,7.24,4.56

In [13]:
players = pd.read_csv('/Users/caleboneel/Desktop/final-project-coneel/Data/filtereddf.csv')

In [16]:
players.drop(columns=['_merge'], inplace = True)

In [17]:
totaldf = players.merge(comb, how = 'left', left_on = 'Name', right_on = 'Player', indicator = True)

In [19]:
totaldf['_merge'].value_counts()

both          1499
left_only      213
right_only       0
Name: _merge, dtype: int64